*.ogg
*.png
*.jpg
gamedata/cache/
gamedata/savegames/
gamedata/logs/
steam_appid.txt
colonyclient.exe
colonyclient_Data/
colonyserver.exe
colonyserver_Data
**/bin/
**/bin/
**/obj/
**/obj/
**/src/Properties
**/.vs/
*.dll
*.mdb
*.pdb
*.userprefs
*.cache