*.ogg
*.png
*.jpg
gamedata/savegames/
steam_appid.txt
colonyclient.exe
colonyclient_Data/
colonyserver.exe
colonyserver_Data/
*.sln
*.csproj
gamedata/mods/Pipliz/Example/src/bin
gamedata/mods/Pipliz/Example/src/obj
gamedata/mods/Pipliz/Example/src/Properties
gamedata/mods/Pipliz/Example/src/.vs/